body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  font-family: "Noto Sans JP", serif;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
